<div class="sidebar" id="sidebar">
    <div class="sidebar-inner">
      <h3 style="margin-bottom: 16px;">지난 채팅</h3>
      {% for c in chat_list %}
        <div class="question-item">
          <form method="POST" action="{% url 'chat:member_chat_with_id' chat_id=c.id %}">
            {% csrf_token %}
            <input class="question-text" type="text" name="title" value="{{ c.chat_title|truncatechars:15 }}" readonly />
          </form>
          <div class="question-icons">
            <i class="fas fa-pencil-alt" onclick="editChatTitle({{ c.id }})"></i>
            <i class="fas fa-trash" onclick="deleteChat({{ c.id }})"></i>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="sidebar" id="sidebar">
    <div class="sidebar-inner">
      <h3 style="margin-bottom: 16px;">지난 채팅</h3>
      {% for c in chat_list %}
        <div class="question-item">
          <form method="POST" action="{% url 'chat:member_chat_with_id' chat_id=c.id %}">
            {% csrf_token %}
            <input class="question-text" type="text" name="title" value="{{ c.chat_title|truncatechars:15 }}" readonly />
          </form>
          <div class="question-icons">
            <i class="fas fa-pencil-alt" onclick="editChatTitle({{ c.id }})"></i>
            <i class="fas fa-trash" onclick="deleteChat({{ c.id }})"></i>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  