<div class="sidebar" id="sidebar">
  <div class="sidebar-inner">
    <h3 style="margin-bottom: 16px;">지난 채팅</h3>
    {% for c in chat_list %}
      <div class="question-item" id="chat-{{ c.id }}">
        <input
          class="question-text"
          type="text"
          id="chat-title-{{ c.id }}"
          name="title"
          value="{{ c.chat_title|truncatechars:15 }}"
          readonly
          onclick="handleTitleClick(event, {{ c.id }})" />

        <div class="question-icons">
          <i class="fas fa-pencil-alt" onclick="editChatTitle({{ c.id }})" title="제목 수정"></i>
          <i class="fas fa-trash" onclick="deleteChat({{ c.id }})" title="삭제하기"></i>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
