database.mwb.bak
database.mwb
.env
*.sql
__pycache__/
*.pyc
user/migrations/
chat/migrations/
lawquick/chat/__pycache__/apps.cpython-312.pyc
lawquick/chat/__pycache__/models.cpython-312.pyc
lawquick/chat/migrations/0001_initial.py
lawquick/lawquick/__pycache__/settings.cpython-312.pyc
lawquick/lawquick/__pycache__/urls.cpython-312.pyc
lawquick/user/__pycache__/models.cpython-312.pyc
lawquick/chat/__pycache__/apps.cpython-312.pyc
lawquick/chat/__pycache__/models.cpython-312.pyc
lawquick/lawquick/__pycache__/settings.cpython-312.pyc
lawquick/lawquick/__pycache__/urls.cpython-312.pyc
lawquick/user/__pycache__/models.cpython-312.pyc
*.pyc
*.pyc
