{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>의뢰 정보 입력 - LawQuick</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/lawquick-info.css' %}"/>
    <script src="{% static 'js/info.js' %}"></script>

</head>
<body>
    {% include 'common/header.html'%}
<form method="post" action="/info/submit">
    {% csrf_token %}
    <div class = "info_form">
        <p>어떤 점이 고민이신가요?</p> 
        <div class="form-box">
            <div class="form-info">
                <div class = "form_title">의뢰인 정보를 알려주세요.</div>
                <p>귀하의 상황에 맞는 맞춤형 법률 상담을 위해 몇 가지 정보를 알려주세요.</p>
                <p>입력하신 정보는 오직 상담 목적으로만 활용되며, 철저한 보안 시스템 하에 관리됩니다.</p>
            </div>

                <div class="marriage-info">
                    <div class = "info-num">01</div>
                    <div class = "info-title">
                        혼인 관련 정보 <button type="button" class="skip-btn" name="marriage_skip_btn" onclick="skipSection(name)">건너뛰기</button>
                        <div class="subtitle">현재 혼인 상태에 대해 알려주세요.</div>
                    </div>
                    <div class = "info-content">
                        <label for="marriage-status" class="info-sub-title">혼인 상태</label>
                        <select id="marriage-status" name="marriage_status">
                        <option value="" disabled selected>혼인 상태 선택</option>
                        <option>혼인 상태</option>
                        <option>법적 혼인</option>
                        <option>사실혼</option>
                        <option>이혼</option>
                        </select>
                        
                        <div class="info-sub-title"> 혼인 기간 <input type="text" name="marriage_duration" placeholder="혼인 기간 (예: 2년)"> </div>
                        
                        <label for="divorce-status" class="info_sub_title">이혼 상태</label>
                        <select id="divorce-status" name="divorce_status">
                        <option value="" disabled selected>이혼 상태 선택</option>
                        <option>이혼 고려중</option>
                        <option>이혼 준비중</option>
                        <option>이혼 진행중</option>
                        <option>이미 이혼함</option>
                        </select>
                    </div>
                </div>

                <div class="children-info">
                    <div class = "info-num">02</div>
                    <div class = "info-title">
                        자녀 관련 정보 <button type="button" class="skip-btn" name="children_skip_btn" onclick="skipSection(name)">건너뛰기</button>
                        <div class="subtitle">현재 자녀 상태에 대해 알려주세요.</div>
                    </div>
                    <div class = "info-content">
                        <div class="info-sub-title">
                        자녀 유무
                    
                        <input type="radio" id="has-child" name="child_status" value="yes">
                        <label for="has-child">유</label>
                    
                        <input type="radio" id="no-child" name="child_status" value="no">
                        <label for="no-child">무</label>
            
                        </div>

                        <label for="child-age" class="info-sub-title">자녀 나이</label>
                        <input id="child-age" type="text" class="children-ages" name="child_age" placeholder="자녀 나이(예: 9세, 12세)">
                </div>

                <div class="other-info">
                    <div class = "info-num">03</div>
                    <div class = "info-title">
                        기타 혼인 관련 정보<button type="button" class="marriage-info-btn" name="other_skip_btn" onclick="skipSection(name)">건너뛰기</button>
                        <div class="subtitle">현재 상태에 대해 알려주세요.</div>
                    </div>
                    <div class = "info-content">
                        <label for="property-scope" class="info-sub-title">재산 범위</label>
                        <select id="property-scope" name="property_scope">
                        <option value="" disabled selected>재산 범위 선택</option>
                        <option>5천만원 미만</option>
                        <option>5천만원 이상 ~ 1억원 미만</option>
                        <option>1억원 이상 ~ 10억원 미만</option>
                        <option>10억원 이상</option>
                        </select>

                        <br>
                        
                        <label for="experience" class="info-sub-title">경험</label>
                        <select id="experience" name="experience">
                        <option value="" disabled selected>경험 선택</option>
                        <option>가정 폭력 또는 정신적 고통 경험 있음</option>
                        <option>가정 폭력 또는 정신적 고통 경험 없음</option>
                        </select>
                    </div>
                </div>

                <div class="detail-info">
                    <div class = "info-num">04</div>
                    <div class = "info-title">
                        상세 고민 입력<button type="button" class="detail-info-btn" name="detail_skip_btn" onclick="skipSection(name)">건너뛰기</button>
                        <div class="subtitle">현재 고민을 들려주세요. 자세하게 적을 수록 좋아요.</div>
                    </div>
                    <div class = "info-content">
                        <textarea name="detail_info" class="form-control" placeholder="예) 12세 아이 한 명을 두었는데, 이혼하고 싶어요. 남편이 가정폭력을 합니다."></textarea>
                    </div>
                </div>
                <div class="button-row">
                    <button type="submit" class="btn-confirm">확인</button>
                    <button type="reset" class="btn-cancel">취소</button>
                </div>
                <div class="warning">LawQuick은 이혼 상담의 첫걸음을 돕는 AI도우미입니다. 중요한 결정은 전문가와 상의해보세요.</div>
            </div>
    </div>
</form>
</body>
</html>