/* 헤더 전체 레이아웃 */
.header {
  width: 100%;
  background-color: #F2F6FA;
  border-bottom: 1px solid #D3DBDE;
  padding: 16px 32px;
  box-sizing: border-box;
}

.header-inner {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

/* 로고 스타일 */
.logo {
  font-family: 'Koh Santepheap', cursive;
  font-size: 25px;
  font-weight: bold;
  color: #01143F;
  letter-spacing: -0.05em;
  text-decoration: none;
}
